/*lets do cssss */
body{
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
    color: #fff;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h1{
    margin-bottom: 10px;
}
#game-container{
    position: relative;
    border: 2px solid #4e4e50;
    border-radius: 8px;
}
canvas{
    display: block;
    background-color: #16213e;
    border-radius: 6px;
}
#ui-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hidden{
    display: none !important;
}
#start-screen, #game-over-screen{
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    pointer-events: auto;
}
button{
    background-color: #e94560;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #ff6b81;
}
/*almost half way done*/
#score-board{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    pointer-events: none;
}
#history-screen{
    background: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-height: 80%;
    width: 300px;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}
#score-list{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
    flex-grow: 1;
    overflow-y:auto;
}
#score-list li{
    background: rgba(255,255,255,0.1);
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.secondary-btn{
    background: #4e4e50;
    font-size: 1rem;
    margin-left: 10px;
    padding: 10px 15px;
}
.secondary-btn:hover{
    background-color: #6e6e70;
}