/*lets do css its been too long*/
:root{
    --background-color: #050505;
    --screen-bg: #111;
    --bezel: #222;
    --primary: #00ff41;
    --secondary: #ff00de;
    --text-color: #ccffcc;
    --scanline: rgba(18,16,16,0.5);
    --font-family: 'Courier New', Courier, monospace;
}
*{
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#arcade-cabinet{
    position: relative;
    background: var(--bezel);
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 90vh;
    border: 4px solid #444;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #111, 0 0 50px rgba(0, 0, 0, 0.8) inset 0 0 20px rgba(0, 0, 0, 0.5);
}
/*making this will bring back so much memories of my childhood */
#crt-monitor{
    background-color: var(--screen-bg);
    border: 2px solid #333;
    border-radius: 100px /20px;
    flex: 1;
    position: relative;
    overflow: hidden;
    animation: flicker 0.01s infinite;
    overflow: hidden;
}
#crt-monitor::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 10;
}
#crt-monitor::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.4) 100%);
    z-index: 10;
    pointer-events: none;
}
canvas{
    display: block;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    filter: contrast(1.2) brightness(1.1) saturate(1.2);
}
.ui-layer{
    background: rgba(0, 0, 0, 0.84);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;/*only 5 centers in a row??*/
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}